.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 250ms linear;
  border-radius: 0.5rem;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(120, 113, 108, 0.5);
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

.primary {
  background-color: rgb(28, 25, 23);
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  
  &:hover:not(:disabled) {
    background-color: rgb(87, 83, 78);
  }
}

.secondary {
  background-color: rgb(245, 245, 244);
  color: rgb(87, 83, 78);
  border: 1px solid transparent;
  
  &:hover:not(:disabled) {
    background-color: rgb(231, 229, 228);
  }
}

.outline {
  background-color: transparent;
  color: rgb(87, 83, 78);
  border: 1px solid rgb(231, 229, 228);
  
  &:hover:not(:disabled) {
    border-color: rgb(168, 162, 158);
    background-color: rgb(250, 250, 249);
  }
}

.ghost {
  background-color: transparent;
  color: rgb(120, 113, 108);
  border: 1px solid transparent;
  
  &:hover:not(:disabled) {
    background-color: rgb(245, 245, 244);
  }
}

.link {
  background-color: transparent;
  color: rgb(120, 113, 108);
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 0;
  height: auto;
  border: none;
  
  &:hover:not(:disabled) {
    color: rgb(41, 37, 36);
  }
}

.sm {
  height: 2rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  gap: 0.375rem;
}

.md {
  height: 2.5rem;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  gap: 0.5rem;
}

.lg {
  height: 3rem;
  padding: 0 2rem;
  font-size: 1rem;
  gap: 0.625rem;
}

.loading {
  .icon {
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
